<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<!-- Linking Font Awesome -->
    <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat-Da-Burger (Online Ordering)</title>
</head>

<body>
	<img src="/assets/img/burger.jpg" width="400px" id="burger tuesday">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<a class="grey-text text-lighten-4 right" href="https://github.com/drunnals313">Reference Work</a>
			</div>
		</div>
	</footer>
</body>
</html>